---
layout: default
---


<div class="container clearfix mt0 sm-mt3 vhs-fade vhs-delay-5">
  <div id="portfolio" class="col col-12 mt1 sm-mt3 relative">

    <div class="portfolio-items mt2">
      <div class="text">


        <span class="char1">p</span>
        <span class="char2">r</span>
        <span class="char3">o</span>
        <span class="char4">j</span>
        <span class="char5">e</span>
        <span class="char6">k</span>
        <span class="char7">t</span>
        <span class="char8"></span>
        <span class="char9">u</span>
        <span class="char10">t</span>
        <span class="char11">v</span>
        <span class="char12">a</span>
        <span class="char13">l</span>
        <span class="char14">d</span>
        <span class="char15">a</span>
        <span class="char16"></span>
      </div>
      {% for post in site.categories.featured %}
        <div class="col col-12 md-col-12 lg-col-12">
          <a class="inner-container {% if forloop.index == 1 %} no-border {% endif %}fade col-12 p2" href="{{ post.url | prepend: site.baseurl }}">

          <div class="inner new">


              <div class="col col-12">
                <h2 class="roll h3 sm-show col col-12 sm-col-2" style="display:none;">
                  {{post.year}}
                </h2>

		<h2 class="roll h3 col col-12 sm-col-10">

                  {{post.title}}{% if post.klient %} <small class="">för <span>{{ post.klient }}</span></small>{% endif %}
                  <p class="roll block">{{post.roll}}</p>
                  <small class="right">→</small>
                </h2>


                <p class="col col-12 sm-col-9 hide">
                  {{post.content | strip_html | truncate: 200}}

                </p>

              </div>

          </div>
        </a>

        </div>
      {% endfor %}
      <div class="col col-12 center mt4 mb4">
        <a class="fade h3" href="/projekt">Fler projekt →</a>
      </div>
    </div>
  </div>
</div>
