---
layout: default
---

<div class="col col-12 intro-container px2">

    <div class="container">
      <div class="intro flex flex-center">
        <h1 class="white vhs-fade vhs-delay-3">
          Webbutveckling & design med<br>fokus på användare och prestanda.
          <p><br></p>
        </h1>

        <a href="#about" class="triangle vhs-fade vhs-delay-5"></a>
      </div>
    </div>

</div>

<div class="container clearfix">
  <div id="about" class="col col-12 mt4">

    <div class="mb4 sm-col-8 px2 mx-auto">
      <h1 class="mt4">Om mig</h1>
      <p class="">
        Jag heter Alexander Hansson och är en frilansande designer/webbutvecklare med erfarenhet från att utveckla siter för bland annat Region Värmland, Brämhults, Folktandvården Värmland & MSC.
        Min utgångspunkt är Falkenberg, där jag både jobbar i fysiska såväl som virtuella team.
      </p>

      <p>
        Jag tar fram moderna webblösningar till små till mellanstora företag och utvecklar
        allt från enklare hemsidor till e-handel, bokningssystem och skräddarsydda webbplattformar.
        Min kompetens sträcker sig från början till slut: från skisser, strategi, interaktions- och UX-design till utveckling av produkten.
        Mer om mina kompetenser och erfarenheter går att läsa i <br>mitt <a href="/cv">cv →</a>
      </p>

      <p>
        Min metod tar sin utgångspunkt i varje enskilt projekt för att säkerställa effektivitet och funktionalitet.
        Vanligast är att jag jobbar i WordPress eller Meteor.js.
      </p>

      <p>
        Nedan finns ett urval av projekt.
        Förutom dessa har jag utvecklat siter för bland annat
        IF Boltic, Karlstad el- och stadsnät, Skanska och Uddeholm.
      </p>

    </div>
  </div>
</div>


<div class="container clearfix">
  <div id="portfolio" class="col col-12 mt4">

    <div class="portfolio-items mt3">
      {% for post in site.categories.projekt %}
        <div class="col md-col-12 lg-col-6 p2">
          <div class="inner">
            <a href="{{ post.url | prepend: site.baseurl }}"><img class="vhs-fade vhs-delay-3" src="{{ post.image }}" alt="" /></a>
          </div>
          <h2 class="roll">{{post.title}}</h2>
          <p class="roll">{{post.roll}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


<div class="container clearfix mb4 information">
    <div class="sm-col-8 px2 relative">
      <p class="mt4 block py4">

        <span class="col col-10 mb2">
          {% if site.available == "false" %}
           <span class="status not-available">Jag är inte tillgänglig för projekt.<br>Vill du kontakta mig så rekommenderar jag<br> att du skickar ett mail eller slår en pling.</span>
          {% else %}
           <span class="status available">Jag är tillgänglig för projekt med start tidigast april 2016.</span><br>Vill du kontakta mig angående det eller liknande så rekommenderar jag att du skickar ett mail eller slår en pling.
          {% endif %}
        </span>


        <span class="col md-col-4 col-12 ">
          <span class="black">E:</span> alexander@hnssn.se
        </span>
        <span class="col md-col-6 col-12 ">
          <span class="black">T:</span> +46 730 66 92 60
        </span>
        <span class="col md-col-4 col-12 ">
          <span class="black">GitHub:</span> <a href="http://github.com/hejhansson">hejhansson</a>
        </span>
        <span class="col md-col-6 col-12 ">
          <span class="black">Twitter:</span> <a href="http://twitter.com/hejhansson">@hejhansson</a>
        </span>
      </p>
    </div>
</div>
