---
layout: page
title: Projekt
permalink: /projekt/
weight: 7
---



<div class="container clearfix mt0 sm-mt4 vhs-fade vhs-delay-5">
  <div id="portfolio" class="col col-12 mt2 sm-mt4 relative page-portfolio">

    <div class="portfolio-items">

      {% for post in site.categories.projekt %}
        <div class="col col-12 md-col-12 lg-col-12">
          <a class="inner-container fade col-12 p2" href="{{ post.url | prepend: site.baseurl }}">

          <div class="inner new">


              <div class="col col-12">

                <h2 class="roll h3 col col-12 sm-col-3">

                  {{post.title}}{% if post.klient %}<small class="block">för <span>{{ post.klient }}</span></small>{% endif %}
                  <p class="roll block">{{post.roll}}</p>
                </h2>


                <p class="col col-12 sm-col-9 project-content">
                  {{post.content | strip_html | truncate: 200}}

                </p>

              </div>

          </div>
        </a>

        </div>
      {% endfor %}
    </div>
  </div>
</div>
