<header class="absolute col-12">

  <div class="px4">
    <div class="clearfix mt2 vhs-fade">

      <a class="fade col col-12 sm-col-3 py2 logo" href="/">
        Alexander Hansson
      </a>
      <nav class="col sm-col-9">
        <ul class="list-reset py2 right-align">
          <li class="inline-block ml4">
            <a class="fade" href="/">Projekt</a>
          </li>
          <li class="inline-block ml4">
            <a class="fade" href="/om">Om</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</header>
