<header class="absolute col-12">

  <div class="px4">
    <div class="clearfix container mt2 vhs-fade">

      <a class="fade col col-12 sm-col-8 py2 logo" href="/">
        <b>Alexander Hansson</b> <span class="spacer">→</span> <span class="spacer-after">  {% if page.title %}{{ page.title }}{% else %} index{% endif %}</span>


      </a>
      <nav class="col sm-col-4">
        <ul class="list-reset py2 right-align">
          <li class="inline-block ml4">
            <a class="fade" href="/projekt">Projekt</a>
          </li>
          <li class="inline-block ml4">
            <a class="fade" href="/om">Om/Kontakt</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</header>


<div class="jumbotron vhs-fade vhs-delay-4">
  <div class="col-12 intro-container container clearfix px2">
      <div class="container mt4 clearfix">
        <div class="intro mt4 p0 sm-py4">
          <p class="black h2 vhs-fade vhs-delay-5 py2 mt4">
            Jag heter Alexander Hansson och är en frilansande designer <span class="hide"><br></span>och webbutvecklare.
            Min utgångspunkt är <a href="http://forecast.io/#/f/56.9060,12.4953" class="weather"></a> Falkenberg, där jag<span class="hide"><br></span> både jobbar i fysiska såväl som virtuella team.
          </p>

        </div>
      </div>

  </div>

</div>
