---
layout: default
---
<div id="article" class="col col-12 mt4 clearfix">
<article class="container clearfix py4 px2 post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post__item col-12 col relative">
  <div class="col
  {% if page.categories contains 'blogg' %}
    md-col-10
    {% else %}
    md-col-6
  {% endif %}">
    <header>
      <h1 class="h1 mt4" itemprop="name headline">{{ page.title }} {% if page.klient %}<small>för <span>{{ page.klient }}</span></small>{% endif %}</h1>
      {% if page.categories contains 'blogg' %}
        <p class="gray"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
      {% endif %}
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

  </div>

  <div class="roller right mt4 py1 col-12 md-col-5">
    {% if page.categories contains 'blogg' %}
      {% else %}
      <div class="col col-4">
        <h3>Roll</h3>
        <p>
          {{page.roll}}
        </p>
      </div>

      {% if page.tools %}
      <div class="col col-4">
        <h3>Verktyg</h3>
        <p>
          {{page.tools}}
        </p>
      </div>

      <div class="col year col-4">
        <h3>År</h3>
        <p>
          {{page.year}}
        </p>
      </div>
      {% endif %}
    {% endif %}
  </div>
  </div>
  {% if page.image %}
    <img src="{{page.image}}" alt="{{page.title}}">
  {% endif %}
  {% if page.image2 %}
    <img src="{{page.image2}}" alt="{{page.title}}">
  {% endif %}
  {% if page.image3 %}
    <img src="{{page.image3}}" alt="{{page.title}}">
  {% endif %}
  {% if page.image4 %}
    <img src="{{page.image4}}" alt="{{page.title}}">
  {% endif %}

  <div class="post_navigation">
  {% if page.previous.url %}
    <h2 class="right inline-block"><a class="prev" href="{{page.previous.url}}">{{page.previous.title}} →<small class="block h4 gray right-align">nästa projekt</small></a></h2>
  {% endif %}
  {% if page.next.url %}
    <h2 class="inline-block"><a class="next" href="{{page.next.url}}">← {{page.next.title}}<small class="block h4 gray">föregående projekt</small></a></h2>
  {% endif %}
</div>
</article>

</div>
